parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - _ide_helper.php
    paths:
        - ./app
        - ./bootstrap
        - ./config
        - ./database/migrations
        - ./database/seeders
        - ./routes
