parameters:
    level: 10
    bootstrapFiles:
        - _ide_helper.php
    paths:
        - ./app
        - ./bootstrap
        - ./database/migrations
        - ./database/seeders
        - ./routes